@page
@model WebApplicationKino0410.Pages.loginModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KinoRev</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- СТИЛЬ ПОМЕНЯН -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/Index">
                            <img src="img/logoKinoRev.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="/Index">Homepage</a></li>
                                <li>
                                    <a asp-page="categories" asp-route-id="0">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        @foreach (var g in Current.CGenre)
                                        {
                                            <li><a asp-page="categories" asp-route-id="@g.Id">@g.GenreName</a></li>

                                        }
                                    </ul>
                                </li>
                                <li><a href="/profile">Me</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">

                        @* тут логин *@

                        <a href="/login"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    @if(Current.CUser == null)
    {
	<section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="normal__breadcrumb__text">
						<h2>Login</h2>
						<p>Welcome to KinoRev.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Normal Breadcrumb End -->
	<!-- Login Section Begin -->
	<section class="login spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login__form">
						<h3>Login</h3>
                            <form method="post" asp-page-handler="LogIn">
                                <div class="input__item">
                                    <input minlength="4" type="text" id="userNameInput" name="userNameInput" placeholder="UserName">
                                    <span class="icon_profile"></span>
                                </div>
                                <div class="input__item">
                                    <input minlength="1" type="text" id="passwordInput" name="passwordInput" placeholder="Password">
                                    <span class="icon_lock"></span>
                                </div>
							<button type="submit" class="site-btn">Login Now</button>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login__register">
						<h3>Dont’t Have An Account?</h3>
                            <a asp-page="/registration" class="primary-btn">Register Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>


    }

        






























   
    <!-- Login Section End -->
    <!-- Footer Section Begin -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="/Index"><img src="img/logoKinoRev.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul
                            <li><a href="https://derpibooru.org/profiles/Cyanidee">Cyanidee</a></li>
                            <li><a href="">Bulatjan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form method="post" asp-page="/categories" asp-page-handler="Search" asp-route-id="query" class="search-model-form">
                <input class="input" name="query" id="query" placeholder="Search here.....">
                <button type="submit" class="search-btn"><i class="fa fa-location-arrow"></i></button>
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- ПОМЕНЯНО -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/player.js"></script>
    <script src="../js/jquery.nice-select.min.js"></script>
    <script src="../js/mixitup.min.js"></script>
    <script src="../js/jquery.slicknav.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>


</body>
